span{

    margin-left: 20px;

}

mat-drawer-container{

    height: 100%;
    width: 100%;
    flex-grow: 1;

}

mat-drawer{

    width: 120px;

}
.drawerButtonSize{

    padding: 0;
    width: 100%;

}